@use '../scss/abstracts/' as *;

.metrics {
    width: 100;
    height: 100vw;
    padding: 0 2rem;


    span {
      font-weight: 700;
      color: rgb(109, 109, 109);
    }
  
    .grid-one {
      width: 40%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  
    .grid-two {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 1rem;
      height: 40%;

    }
  }