.metrics {
    background-color: rgb(227, 231, 252);
    padding: 0 2rem;
    span {
        font-weight: 700;
        color: rgb(109, 109, 109);
    }

.grid__one {
    display: inline-block;
    height: 40%;

   
}

.grid__two {
  
}

}