.metrics {
    background-color: rgb(227, 231, 252);
    padding: 0 2rem;
    span {
        font-weight: 700;
        color: rgb(109, 109, 109);
    }

.grid__one {
    display: flex;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    height: 40%;
    margin-bottom: 1rem;
   
}

.grid__two {
  
}

}