@use './variables' as *;

@mixin flex($alignItem: center, $justifyContent: center) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin getCardStyles {
    width: 100%;
    background-color: white;
    border-radius: 0.4rem;
    padding: 1rem;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: translateX(4px);
      transform: translateY(-4px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    
  }
    
} 