<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="moment.js"></script>

    <script type="text/javascript" src="Chart.js"></script>

    <script type="text/javascript" src="chartjs-plugin-streaming.js"></script>
</head>

<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script>var ctx = document.getElementById('myChart').getContext('2d');

        var chart = new Chart(ctx, {

            type: 'line',

            data: {

                datasets: [{

                    data: []

                }, {

                    data: []

                }]

            },

            options: {

                scales: {

                    xAxes: [{

                        type: 'realtime'

                    }]

                }

            }

        });</script>
    <p>
        <button id="randomizeData">Randomize Data</button>
        <button id="addDataset">Add Dataset</button>
        <button id="removeDataset">Remove Dataset</button>
        <button id="addData">Add Data</button>
    </p>
</body>

</html>