@use '../../scss/abstracts/' as *;

.box {
    border: 4px solid navy;
    
    @include minicard;

    &-purple {
        background-color: $purple;
        color: $white;
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
}