@use '../../scss/abstracts/' as *;

.box {


    @include minicard;

    &-purple {
        background-color: white;
        color: $white;
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
}