@use '../../scss/abstracts/' as *;
@use 'sass:math';

.topnav  {
    @include flex(center, space-between);
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom : $mobileSpacing;
    }
}

.sidebar-toggle {
    --size : 40px;
    width : var(--size);
    height: var(--size);
    @include flex(center, center);
    cursor: pointer;
    display:  none;


    i {
        font-size: 3rem;
        color : $orange;
    }
}
