@use '../../scss/abstracts/' as *;

.top__card {
    width: 100%;
    @include tablet {
        margin-top: 1rem;
        padding: $mobileSpacing;
        position: relative;
        width: 110%;
    }
    @include minicard
}

.top__card1 {
    width: 33%;
    @include tablet {
        margin-top: 1rem;
        padding: $mobileSpacing;
        position: relative;
        z-index: 100;
        width: 98%
    }
    @include minicard;
}

