@use '../../scss/abstracts/' as *;

.top__card {
    border: 3px solid navy;
    width: 102%;
    color: black;
    @include tablet {
        margin-top: 0.5rem;
        padding: $mobileSpacing;
        position: relative;
        width: 100%;
    }
    @include minicard
}

.top__card1 {

    color: black;
    border: 3px solid navy;
    width: 33%;
    @include tablet {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
    }
 
    @include minicard;
}

.top__card2 {
    @include minicard;
    width: 21%;
    height: 350px;
    border: 3px solid navy;
    color: black;
    margin : 1rem 0 0 0.5rem;
    @include tablet {
        margin-top: 0.5rem;
        padding: $mobileSpacing;
        position: relative;
        width: 100%;
    }
 
}


